{{ form_start(articleForm) }}
    {{ form_row(articleForm.title, {
        label: 'Article title'
    }) }}

    <div class="row">
        <div class="col-sm-9">
            {# passing the second form_row argument which is an array of variables which we can use to customize many things
            One of the most important ones is 'attr' which allows us to attach our own HTML attributes to the input feild #}
            {{ form_row(articleForm.imageFile, {
                attr: {
                    placeholder: 'Select an article image'
                }
            }) }}
        </div>
        <div class="col-sm-3"> {# This is where we will render the image on this page if there is one#}
            {% if articleForm.vars.data.imageFilename|default %} {# This will be the article object that we need, along with the image file name property attachted #}
                <a href="{{ uploaded_asset(articleForm.vars.data.imagePath) }}" target="blank">
                    <img src="{{ articleForm.vars.data.imagePath|imagine_filter('squared_thumbnail_small') }}" height="100"> {# if the value of that object property is set then use it in this img tag. #}
                </a>
            {% endif %}
        </div>
    </div>


    {{ form_row(articleForm.author) }}
    {{ form_row(articleForm.location, {
        attr: {
            'data-specific-location-url': path('admin_article_location_select'),
            'class': 'js-article-form-location'
        }
    }) }}
    <div class="js-specific-location-target">
        {%  if articleForm.specificLocationName is defined %}
            {{ form_row(articleForm.specificLocationName) }}
        {% endif %}
    </div>
    {{ form_row(articleForm.content) }}
    {% if articleForm.publishedAt is defined %}
        {{ form_row(articleForm.publishedAt) }}
    {% endif %}

    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(articleForm) }}